@using EpamTask10.Models;
@using Entity;

@{
    Layout = "~/Pages/_Layout.cshtml";


    var Users = WebData.GetAllUsers();

    string id = Request["id"];
    var Award = new Award();

    if (id != null)
    {
        Award = WebData.GetAward(id);
    }

    if (IsPost)
    {
        var NewTitle = Request["NewTitle"];
        var NewImageUrl = Request["NewImageUrl"];
        var UsersHave = new Dictionary<int, string>();

        WebData.EditAward(id, NewTitle);

        foreach (var item in Users)
        {
            var value = Request["User " + item.Id];
            if (value != null)
            {
                UsersHave.Add(item.Id, Request["User " + item.Id]);
            }
        }

        if (UsersHave.Count > 0)
        {
            foreach (var item in Users)
            {
                if (UsersHave.FirstOrDefault(x => x.Key == item.Id).Key > 0)
                {
                    WebData.AddAwardWeilder(Award.Id, item.Id);
                }
                else
                {
                    WebData.DeleteAwardWeilder(Award.Id, item.Id);
                }
            }
        }
        else
        {
            foreach (var item in Users)
            {
                WebData.DeleteAwardWeilder(Award.Id, item.Id);
            }
        }

        if (NewImageUrl!=null && NewImageUrl.Length > 0)
        {
            WebData.EditImage(NewImageUrl, null, null, Award.Id);
        }

        Response.Redirect("~/Pages/Award/Show.cshtml");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Basic.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <div style="margin-top:15px">
            <button type="button" id="ToShowAward" class="btn btn-outline-secondary">< Back</button>
            <a class="btn btn-outline-danger" href="~/Pages/Award/DeleteConfirmPage.cshtml?id=@id">
                Delete
            </a>
        </div>

        <form action="~/Pages/Award/Edit.cshtml?id=@id" method="post">
            <div>
                <div style="margin-top:15px">
                    <label>Title:</label>
                    <input type="text" class="form-control" name="NewTitle" value="@Award.Title" />
                </div>

                <div style="margin-top:15px">
                    <img src=@WebData.GetImageForAward(Award.Id).Path
                         alt="Award @Award.Title" />

                    <label>Icon:</label>
                    <p class="text-secondary" style="width:280px">recommend: squared small size icon. Type url of image:</p>
                    <input type="text" class="form-control" name="NewImageUrl" value="" />
                </div>

                <div style="margin-top:15px">
                    <label>Give this award to users:</label>
                    <div style="display:grid;">
                        @foreach (var item in Users)
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input UserCheckbox" id="@item.Id" name="User @item.Id">
                                <label class="custom-control-label" for="@item.Id"> @item.Name </label>
                            </div>
                        }
                    </div>
                </div>

                <button style="margin-top:15px" class="btn btn-success" id="SaveAwardEdit">
                    Save changes
                </button>
            </div>
        </form>

    </div>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/pages/changePage.js"></script>
</body>
</html>
