@using EpamTask10.Models;
@{
    Layout = "~/Pages/_Layout.cshtml";
    var Awards = WebData.GetAllAwards();
    string role = WebData.CurrentUser.Role.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Basic.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">

        <div>
            <h2>Awards</h2>
            @if (role == "Guest")
            {
                <button type="button" id="ToMain" class="btn btn-outline-secondary">< Back</button>
            }
            else
            {
                <button type="button" id="ToAward" class="btn btn-outline-secondary">< Back</button>
            }
        </div>

        <div class="col-lg-12" style="margin-top:15px">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:#444;">
                        <th scope="col">Id</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Title</th>
                        @if (role == "User" || role == "Admin")
                        {
                            <th scope="col">Users</th>
                        }
                        @if (role == "Admin")
                        {
                            <th scope="col">Settings</th>
                        }
                        </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Awards)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td> <img src=@item.Image alt="Award @item.Title" /> </td>
                        <td>@item.Title</td>

                        @if (role == "User" || role == "Admin")
                        {
                            if (@item.Users == null)
                            {
                                <td>none</td>
                            }
                            else
                            {
                                <td>
                                    @foreach (var user in @item.Users)
                                    {
                                        <span class="badge badge-primary"> @user.Name </span>
                                    }
                                </td>
                            }
                        }

                        @if (role == "Admin")
                        { 
                            <td style="display:flex">
                                <a class="btn btn-outline-warning" href="~/Pages/Award/Edit.cshtml?id=@item.Id"> Edit > </a>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/pages/changePage.js"></script>
</body>
</html>
