@using EpamTask10.Models;
@{
    Layout = "~/Pages/_Layout.cshtml";

    var Awards = WebData.GetAllAwards();

    string id = Request["id"];
    var delete = Request["delete"];
    var User = new Entity.User();

    if (id != null)
    {
        User = WebData.GetUser(id);
    }

    if (IsPost)
    {
        var NewName = Request["NewName"];
        var NewImageUrl = Request["NewImageUrl"];
        var NewDate = Request["NewDate"];
        var HaveAwards = new Dictionary<int, string>();

        foreach (var item in Awards)
        {
            var value = Request["Award " + item.Id];
            if (value != null)
            {
                HaveAwards.Add(item.Id, Request["Award " + item.Id]);
            }
        }

        WebData.EditUser(id, NewDate, NewName);

        if (HaveAwards.Count > 0)
        {
            foreach (var item in Awards)
            {
                if (HaveAwards.FirstOrDefault(x => x.Key == item.Id).Key > 0)
                {
                    WebData.AddAwardWeilder(item.Id, User.Id);
                }
                else
                {
                    WebData.DeleteAwardWeilder(item.Id, User.Id);
                }
            }
        }
        else
        {
            foreach (var item in Awards)
            {
                WebData.DeleteAwardWeilder(item.Id, User.Id);
            }
        }


        if (NewImageUrl != null && NewImageUrl.Length > 0)
        {
            WebData.EditImage(NewImageUrl, null, User.Id, null);
        }
        Response.Redirect("~/Pages/User/Show.cshtml");
    }


    if (delete != null && delete != null)
    {
        WebData.DeleteUser(id);
        Response.Redirect("~/Pages/User/Show.cshtml");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Basic.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <div style="margin-top:15px">
            <button type="button" id="ToShowUser" class="btn btn-outline-secondary">< Back</button>
            <a class="btn btn-outline-danger" href="~/Pages/User/Edit.cshtml?id=@id&delete=Y">
                Delete
            </a>
        </div>

        <form action="~/Pages/User/Edit.cshtml?id=@id" method="post">
            <div>
                <div style="margin-top:15px">
                    <label>User name:</label>
                    <input type="text" class="form-control" name="NewName" value="@User.Name" />
                </div>

                <div style="margin-top:15px">
                    <label>Birthday : @User.BirthDay (@User.Age years old) </label>
                    <input type="date" name="NewDate" id="Date" value="@User.BirthDay" class="form-control" />
                </div>

                <div style="margin-top:15px">
                    <img src=@WebData.GetImageForUser(User.Id).Path
                         alt="Award @User.Name" />

                    <label>Icon:</label>
                    <p class="text-secondary" style="width:280px">recommend: squared small size icon. Type url of image:</p>
                    <input type="text" class="form-control" name="NewImageUrl" value="" />
                </div>

                <div style="margin-top:15px">
                    <label>Give this award to users:</label>
                    <div style="display:grid;">
                        @foreach (var item in Awards)
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input AwardCheckbox" id="@item.Id" name="Award @item.Id">
                                <label class="custom-control-label" for="@item.Id"> @item.Title </label>
                            </div>
                        }
                    </div>
                </div>

                <button style="margin-top:15px" class="btn btn-success  id=" SaveUserEdit"">
                    Save changes
                </button>
            </div>
        </form>

    </div>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/pages/changePage.js"></script>
</body>
</html>
