@using EpamTask10.Models;
@{
    Layout = "~/Pages/_Layout.cshtml";
    var Users = EpamTask10.Models.Main.GetUsers();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body style="background-color:#222; color:#fff">
    <div class="container">

        <div>
            <h2>Users</h2>
            <button type="button" id="ToUser" class="btn btn-outline-secondary">< Back</button>
        </div>

        <div class="col-lg-12">

            <table class="table table-hover">
                <thead>
                    <tr style="color:aliceblue; background-color:#444;">
                        <th scope="col">Id</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Awards</th>
                        <th scope="col">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Users)
                    {
                    <tr style="color:aliceblue;">
                        <td>@item.Id</td>
                        <td>
                            <img src=@item.Image
                                 alt="Avatar @item.Name"
                                 style="width:32px; background-color:transparent;" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Birthday</td>

                        @if (@item.Awards == null)
                        {
                            <td>none</td>
                        }
                        else
                        {
                            <td>
                                @foreach (var award in @item.Awards)
                                {
                                    <span class="badge badge-warning">
                                        @award.Title
                                    </span>
                                }
                            </td>
                        }
                            <td>
                                <a class="btn btn-outline-warning" href="~/Pages/User/Edit.cshtml?id=@item.Id">
                                    Edit >
                                </a>
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/pages/changePage.js"></script>
</body>
</html>
